<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.educationapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.ScholarshipActivity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.gallery_activity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.exams_after_intermediate_activity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.talent_test_activity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.after_graduation_activity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.after_intermediate_activity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.Course_type_activity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.after_10th_activity"
            android:exported="true"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.splash_screen_activity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>